<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777824953279-tg0qbo3jmam7c8sk87j6a4qs7pubk49i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777824953279-tg0qbo3jmam7c8sk87j6a4qs7pubk49i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>777824953279-iul09p0r7imukhcml52f7t3n3chen846.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDS3YZQGcTThmZ5X014ksT6n5LWF8vvask</string>
	<key>GCM_SENDER_ID</key>
	<string>777824953279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListProvider</string>
	<key>PROJECT_ID</key>
	<string>todo-list-provider-614d1</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-provider-614d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777824953279:ios:3fc472558d157550cef70a</string>
</dict>
</plist>